{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}About Us{% endblock %}
    
{% block body %}
    <header>
        <h1>Not much</h1>
    </header>
    
    <p>About Us</p>
{% endblock %}