{% extends 'base.html.twig' %}

{% block body %}
<form action="{{ path('metaclass_band_info_search') }}" method="get" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{%  endblock %}